<%= form_with(model: state_hw, local: true) do |form| %>
  <% if state_hw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state_hw.errors.count, "error") %> prohibited this state_hw from being saved:</h2>

      <ul>
      <% state_hw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :capital %>
    <%= form.text_field :capital %>
  </div>

  <div class="field">
    <%= form.label :population %>
    <%= form.number_field :population %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.number_field :area %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
